{layout '../layouts/base.latte'}

{block title}MyCloud{/block}
{block head}{/block}
{block nav}
{/block}
{block content}
  <section>
    <h1>Hello</h1>
    <sl-icon name="house" />
  </section>
{/block}
{block script}
{/block}
