<sl-dialog id="overlay-dialog" label="処理中" no-header no-footer style="--width: auto;" class="overlay-dialog" open>
  <div style="display: flex; flex-direction: column; align-items: center; gap: 1em;">
    <sl-spinner style="font-size: 2rem;"></sl-spinner>
    <div id="overlay-message">処理中です…</div>
  </div>
</sl-dialog>
